body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#typing-area {
  font-family: Courier, Lucida Console;
}

.not-typed {
  color: black;
}

.wrongly-typed {
  background-color: red;
  color: white;
}

.typed {
  color: blue;
}

.next {
  color: white;
  background-color: black;
  animation: 1s blink linear infinite;

-webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% {
    color: white;
    background-color: black;
  }

  50% {
    color: black;
    background-color: white;
  }

  100% {
    color: white;
    background-color: black;
  }
}

@-webkit-keyframes blinker {  
  0% {
    color: white;
    background-color: black;
  }

  50% {
    color: black;
    background-color: white;
  }

  100% {
    color: white;
    background-color: black;
  }
}

@keyframes blinker {  
  0% {
    color: white;
    background-color: black;
  }

  50% {
    color: black;
    background-color: white;
  }

  100% {
    color: white;
    background-color: black;
  }
}